body {
  font-size: 12px;
  font-family: ariel, serif;
  border: 5px solid blue;
}


div {
  padding: 20px;
  margin: 10px;
}

h1 {
    color: aqua;
}
//<link href="css/main.css" rel="stylesheet" />

/* All elements with class="friendlydog" */
.spacious {
  margin: 2em;
  ul > li 
}
